name: Deploy Production Backend

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      # - name: Setup Node.js 20
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version: 20.20.0
      #     cache: npm

      - name: Create .env file
        run: |
          echo "${{ secrets.ENV_PRODUCTION }}" > .env

      - name: Install dependencies
        run: |
            cd server
            npm install --force
            npm run build

      - name: Build project
        working-directory: server
        run: npm run build
